# Ignore everything
*

# Allow these files and folders
!.gitignore
!README.md
!package.json
!package-lock.json
!next.config.ts
!tsconfig.json
!postcss.config.*
!tailwind.config.*
!eslint.config.*
!components.json

# Allow source directories
!src/
!src/**/
!src/**/*

!supabase/
!supabase/**/
!supabase/**/*

!public/
!public/**/
!public/**/*
